<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="net.todo42.mylyn.basecamp.core.BasecampConnector">
      </connectorCore>
      <connectorUi
            class="net.todo42.mylyn.basecamp.ui.BasecampConnectorUi">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            anonymous="true"
            label="Workspace"
            repositoryKind="org.eclipse.mylyn.examples.xml"
            urlRepository="Tasks">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="net.todo42.mylyn.basecamp.ui.BasecampTaskEditorPageFactory"
            id="org.eclipse.mylyn.xml.ui.pageFactory">
      </pageFactory>
   </extension>
</plugin>
